/*================================
SCSS Styles for ItemDetails component
==================================*/

.ItemDetails {
  /*Place Styles Here*/
  text-align:center;
}
.ItemDetails--price {
  font-size:2em;
  font-weight:bold;
}
