/*================================
SCSS Styles for LoadingSpinner component
==================================*/

.LoadingSpinner {
  position:relative;
}
.LoadingSpinner--spinner {
  display: block;
  margin: 0 auto;
  padding: 5em 0;
}
.LoadingSpinner--text {
  text-align: center;
  position: relative;
  top: -10em;
  line-height:2;
}
