/*================================
SCSS Styles for Speech component
==================================*/

.Speech {
  /*Place Styles Here*/
  text-align:center;
  margin:0 auto;
}
button {
  width:50%;
  padding: 2em;
  i.fa {
    font-size:2em;
    margin:0 1em;
  }
}
