/*================================
SCSS Styles for header component
==================================*/

.Header {
  /*Place Styles Here*/
  position:relative;
  margin:0.5em 0;
}
.Header--logo {
  width:40px;
  display:block;
  margin:0 auto;
}
