/*================================
SCSS Styles for header component
==================================*/

.Header {
  /*Place Styles Here*/
  position:relative;
  margin:0.5em 0;

  i.fa-angle-left {
    display: block;
    position: absolute;
    font-size: 2em;
    left: 5px;
    top: 5px;
  }
}
.Header--logo {
  width:40px;
  display:block;
  margin:0 auto;
}
