div.Hero {
  max-width:60%;
  max-height:50%;
  position:relative;
  margin:1em auto;

  img {
    width:100%;
  }
  h2 {
    position: absolute;
    bottom: 4px;
    color: #ffffff;
    width: 100%;
    // background: rgba(255,0,0,0.5);
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
  }
}
