/*================================
SCSS Styles for Item-Card component
==================================*/

.itemCard {
  /*Place Styles Here*/
  border:1px dashed #cccccc;
  padding:1em;
  text-align:center;
  img {
    width:100px;

  }
  button {
    width: 100%;
    padding: 0 5px;
    background: #cc0000;
    color: #ffffff;

    &:hover, &.active {
      color:#ffffff;
    }
    &:focus {
      color:#ffffff;
    }

    &.item-in-cart {
      background:none;
      color:#000000;
      border:1px dashed #333333;
    }
  }
}
.itemCard--price {
  font-size:1.3em;
  font-weight:bold;
  margin:1em 0;
}
